{% extends 'base.html.twig' %}

{% block seo %}
    {{ include ('_includes/seo.html.twig', {
        'title': 'Content Category'|trans,
        'description': 'Content Category'|trans
    }) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="section-min-height">
        {% set arContent = LayoutFunctions.getAPI('content/pages-faq?language=' ~ app.request.getLocale()) %}
        {% if arContent is defined and arContent is iterable %}
            <div class="container mb-3">
                <h1>{{ arContent.title }}</h1>
                <h5 class="text-black-50">{{ arContent.text|raw }}</h5>
            </div>
        {% endif %}

        {% if colContentCategory|length %}
            <div class="container">
                <div class="row">
                    <div class="col-auto p-1 font-weight-bold">Categories:</div>
                    <div class="col-auto align-top">
                        <div class="d-block w-100">
                            <a href="{{ baseUri }}/{{ contentType }}" class="btn btn-primary btn-sm btn-category">{% trans %}All{% endtrans %}</a>
                            {% set arCategories = [] %}
                            {% set arSubcategories = [] %}
                            {% for category in colContentCategory %}
                                {% if category.referenceKey != 'faq-category-backoffice' %}
                                    {% if category.contentCategoryId == 0 %}
                                        {% set arCategories = arCategories|merge([category]) %}
                                        {% set href = 'href' %}
                                        {% if category.countSubCategory > 0 %}
                                            {% set href = 'data-href' %}
                                        {% endif %}
                                        <a {{ href }}="{{ baseUri }}/{{ category.referenceKey }}" class="btn btn-primary btn-sm btn-category" data-category-id="{{ category.id }}">{{ category.name }}</a>
                                    {% else %}
                                        {% set arSubcategories = arSubcategories|merge([category]) %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>

                        {% if arSubcategories|length > 0 %}
                            <div id="block_subcategory" class="d-block w-100 mt-2" style="display: none">
                                {% for category in arCategories %}
                                    <a href="{{ baseUri }}/{{ category.referenceKey }}" class="btn btn-info btn-sm content-category-{{ category.id }}" style="display: none">{% trans %}All{% endtrans %}</a>
                                {% endfor %}

                                {% for subcategory in arSubcategories %}
                                    <a href="{{ baseUri }}/{{ subcategory.referenceKey }}" class="btn btn-outline-secondary btn-sm content-category-{{ subcategory.contentCategoryId }}" style="display: none">{{ subcategory.name }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="container mt-3">
            <ul>
                {% set from = app.request.getPathInfo() %}
                {% for content in colContentList %}
                    {% set isShow = true %}
                    {% set htmlCategory = '' %}
                    {#<b>{{ LayoutFunctions.dateDecode(content.dateStart, 'onlyDate') }}</b>#}
                    {% for category in content.colContentCategory %}
                        {% if category.referenceKey == 'faq-category-backoffice' %}
                            {% set isShow = false %}
                        {% else %}
                            {% set htmlCategory = htmlCategory ~ category.name ~ '|' %}
                        {% endif %}
                    {% endfor %}

                    {% if isShow %}
                        <li>
                            <div class="mb-2">
                                <div class="d-block w-100" style="font-size: 12px">
                                    {{ htmlCategory }}
                                </div>
                                <a href="{{ baseUri }}/{{ content.referenceKey }}/?from={{ from }}" class="text-info">{{ content.title }}</a>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var lastCategoryId = 0;
        $(function() {
            $('.btn-category').on('click', function() {
                $('#block_subcategory').show();

                if (lastCategoryId > 0) {
                    $('.content-category-' + lastCategoryId).hide();
                }

                let categoryId = $(this).data('category-id');
                lastCategoryId = categoryId;

                $('.content-category-' + categoryId).fadeIn();
            });
        });
    </script>
{% endblock %}