{% extends 'base.html.twig' %}

{% block seo %}
    {{ include ('_includes/seo.html.twig', {
        'title': 'Reset Password'|trans,
    }) }}
{% endblock %}

{% block body %}
    {{ include('_includes/breadcrumb.html.twig', {
        'path': [
            {'#': 'Reset Password'|trans}
        ]
    }) }}

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                <div class="login-box">
                    {% if return == 'error' %}

                        <h1>{% trans %}Oops! There was an error while validating the data.{% endtrans %}</h1>
                        <p>
                            {% trans %}Please try again!{% endtrans %}
                            <span class="d-block">
                                {% trans %}If the problem persists, let us know by{% endtrans %}
                                <a href="{{ baseUri }}/contact">
                                    {% trans %}contacting us{% endtrans %}
                                </a>
                            </span>
                        </p>
                        <p><pre>{ {{ msg }} }</pre></p>

                    {% else %}

                        <form action="{{ baseUri }}/customer/reset-password" method="post">
                            <!-- form spoofing -->
                            <input type="hidden" name="password_recover" value="{{ passwordRecover }}">

                            <div class="required-input w-100">
                                <label for="email">{% trans %}Email{% endtrans %}:</label>
                                <input type="text" name="email" id="email" value="{{ email }}" class="form-control" required readOnly>
                            </div>

                            <div class="required-input w-100">
                                <label for="password">{% trans %}Password{% endtrans %}:</label>
                                <input type="password" name="password" id="password" class="form-control" tabIndex="1" autofocus required>
                            </div>

                            <div class="required-input w-100">
                                <label for="password_confirm">{% trans %}Password Confirm{% endtrans %}:</label>
                                <input type="password" name="password_confirm" id="password_confirm" class="form-control" tabIndex="2" required>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="submit" class="login-btn mt-4" tabIndex="3">
                                    {% trans %}Send{% endtrans %}
                                </button>
                            </div>
                        </form>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
