{% extends 'base.html.twig' %}

{% block seo %}
    {{ include ('_includes/seo.html.twig', {
        'title': 'Recover Password'|trans,
    }) }}
{% endblock %}

{% block body %}
    {{ include('_includes/breadcrumb.html.twig', {
        'path': [
            {'#': 'Recover Password'|trans}
        ]
    }) }}

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                <div class="login-box">
                    {% if msg == 'sent' %}

                        <h1>{% trans %}All very well{% endtrans %}!</h1>
                        <p>{% trans %}We just sent you an email with a link for you to Create a New Password. Check the Inbox of the email provided{% endtrans %}.</p>
                        <p>{% trans %}If you do not receive the email within a few minutes, check your Junk Email or Spam. Sometimes even trusted messages are sent to these folders{% endtrans %}!</p>
                        <p>* {% trans %}If you find the message in an Junk or Spam folder, look at the top of the message for an option to mark <i> This is not Spam </i> or <i> This email is reliable </i>, so that, whenever we send you messages, you will receive it in your Inbox{% endtrans %}!</p>

                    {% elseif msg == 'error' %}

                        <h1>{% trans %}Oops! There was an error sending the email{% endtrans %}.</h1>
                        <p>{% trans %}Please try again{% endtrans %}!<br>{% trans %}If the problem persists, please let us know at{% endtrans %} <a href="{{ baseUri }}/contact">{% trans %}contact channel{% endtrans %}</a>.</p>
                        <p><a href="{{ baseUri }}/customer/recover-password">{% trans %}Recover Password{% endtrans %}</a></p>

                    {% else %}

                        <h1>{% trans %}Recover Password{% endtrans %}</h1>
                        <p>{% trans %}We will send a link to the email address provided for you to create a New Password{% endtrans %}</p>

                        <form method="post">
                            <div class="required-input w-100">
                                <label for="email">{% trans %}Email{% endtrans %}:</label>
                                <input type="text" name="email" id="email" class="form-control" tabIndex="1" required autofocus>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="submit" class="login-btn mt-4" tabIndex="2">
                                    {% trans %}Send{% endtrans %}
                                </button>
                            </div>
                        </form>

                        <hr>

                        <h1>{% trans %}Remember your password?{% endtrans %}</h1>
                        <a href="{{ baseUri }}/customer/login" class="register-secondary-btn" tabIndex="3">
                            {% trans %}Login{% endtrans %}
                        </a>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
