{% extends 'base.html.twig' %}

{% block seo %}
    {{ include ('_includes/seo.html.twig', {
        'title': 'Products'|trans,
    }) }}
{% endblock %}

{% block body %}
    {{ include('_includes/breadcrumb.html.twig', {
        'path': [
            {'#': 'Products'|trans}
        ]
    }) }}
    <section id="home">
        <div class="container">
            <h2>{% trans %}Choose one of the product types below{% endtrans %}</h2>

            <div class="mt-3 mb-5">
                {% for productType in colProductType %}
                    <a href="{{ baseUri }}/product/{{ productType.referenceKey }}" class="btn btn-secondary">
                        {{ productType.name|trans }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}