{% extends 'base.html.twig' %}

{% block body %}
    {#% include 'slider.html.twig' %#}


    {#% include '_includes/modal_product_color_size.html.twig' %#}

    {% set text = null  %}
    {% set image = null %}
    {% for media in colBanner %}
        {% if media.referenceKey == 'richmedia-home-banner' %}
            {% set text = media.text %}
            {% set image = media.filename %}
        {% endif %}
    {% endfor %}
  <div class="background-image-header" style="background-image: url('{{image}}')">
    <div class="container">
        <div class="d-flex justify-content-center">
            {{text|raw}}
            <!--div class="header-text-index">
                <h1 class='header-tittle-index'>{{title ?? null}}</h1>
                <h2 class="header-subtittle-index">{{description ?? null}}</h2>
            </div-->
        </div>
    </div>
</div>

     

        


              

<div class="background-index-image" style="padding-top: 15vh; padding-bottom: 100px;">

<!--Restoration-->

                {% if colRestoration.header is defined %}

                    {% set Title = null %}
                    {% set Description = null %}
                    {% set url_first_image = null %}
                    {% set  url_second_image = null %}
                    
                    {% for header in colRestoration.header %}
                        {% if header.referenceKey == 'files-business' %}
                            {% set Title = header.title %}
                        
                            {% set Description = header.description %}
                            {% set url_first_image = header.filename %}
                            
                            {% set url_second_image = header.url %}
                        
                        {% endif %}

                    {% endfor %}
                   
                {% endif %}


    
       

               

                    <div class="container py-5">
                        <!--Header Business-->
                        <div class="row pb-4">
                            <div class="col-12 d-flex justify-content-center py-3"><span class="tittle-body-index">{{Title}}</span></div>
                            <div class="col-12 d-flex justify-content-center"><span class="subtittle-body-index">{{Description}}</span></div>
                        </div>
                        <!--/Header Business-->
            {% if colRestoration is defined %}
                        <!--Header-->
                        <div class="row py-3">
                            <div class="col-12 d-flex justify-content-center mt-3 mb-4"><span style="background-image: url('{{url_first_image}}');"  class="index-img-restauration"></div>
                            <div class="col-12 d-flex justify-content-center py-4"><span class="index-restoration">{% trans %}Restoration{% endtrans %}</span></div>
                            <style type="text/css">.index-img-restauration:hover{ background-image: url("{{apiUrl}}{{url_second_image}}") !important; }</style>
                        </div>
                        <!--/header-->

                        <!--Body icons-->
                        <div class="row">
                            <div class="container row py-4 mx-0"> 
                                {% for  items in colRestoration.body %}

                                    <div class="col item-index">
                                            <img src='{{items.filename}}' class="img-squares">
                                            <i class="mdi-48px {{items.url}} index-icon-restoration d-flex justify-content-center"></i>

                                            <p class=" d-flex justify-content-center font-weight-bold text-center py-4">{{items.title}}</p>
                                    </div>
                                {% endfor %}
                            </div>    
                        </div>
                        <!--/Body icons-->
            {% endif %}

<!--/Restoration-->

<!--Retail-->

                    
                {% if colRetail.header is defined %}
                    {% set Title = null %}
                    {% set url_first_image = null %}
                    {% set  url_second_image = null %}
                   
                    {% for header in colRetail.header %}
                        {% if header.referenceKey == 'files-retail' %}
                            {% set Title = header.title %}
                            
                            {% set url_first_image = header.filename %}
                            
                            {% set url_second_image = header.url %}
                        
                        {% endif %}

                    {% endfor %}
                   
                {% endif %}

          
                {% if colRetail is defined %}
                     <!--Header-->
                        <div class="row py-3">
                            <div class="col-12 d-flex justify-content-center mt-3 mb-4"><span style="background-image: url('{{url_first_image}}');"  class="index-img-retail"></div>
                            <div class="col-12 d-flex justify-content-center py-4"><span class="index-retail">{% trans %}Retail{% endtrans %}</span></div>
                            <style type="text/css">.index-img-retail:hover{ background-image: url("{{apiUrl}}{{url_second_image}}") !important; }</style>
                        </div>
                        <!--/header-->
                           <!--Body icons-->
                        <div class="row">
                            <div class="container row py-4 mx-0"> 
                                {% for  items in colRetail.body %}

                                    <div class="col item-index">
                                            <img src='{{items.filename}}' class="img-squares-retail">
                                            <i class="mdi-48px {{items.url}} index-icon-retail d-flex justify-content-center"></i>

                                            <p class=" d-flex justify-content-center font-weight-bold text-center py-4">{{items.title}}</p>
                                    </div>
                                {% endfor %}
                            </div>    
                        </div>
                        <!--/Body icons-->
                {% endif %}

<!--/Retail-->

<!--Services-->

                {% if colServices is defined %}
                    {% set Title = null %}
                    {% set url_first_image = null %}
                    {% set  url_second_image = null %}
                   
                    {% for header in colServices.header %}
                        {% if header.referenceKey == 'files-services' %}
                            {% set Title = header.title %}
                            
                            {% set url_first_image = header.filename %}
                            
                            {% set url_second_image = header.url %}
                        
                        {% endif %}

                    {% endfor %}
                   
                {% endif %}

            
                {% if colServices is defined %}
                     <!--Header-->
                        <div class="row py-3">
                            <div class="col-12 d-flex justify-content-center mt-3 mb-4"><span style="background-image: url('{{url_first_image}}');"  class="index-img-services"></div>
                            <div class="col-12 d-flex justify-content-center py-4"><span class="index-services">{% trans %}Services{% endtrans %}</span></div>
                            <style type="text/css">.index-img-services:hover{ background-image: url("{{apiUrl}}{{url_second_image}}") !important; }</style>
                        </div>
                        <!--/header-->
                           <!--Body icons-->
                        <div class="row">
                            <div class="container row py-4 mx-0"> 
                                {% for  items in colServices.body %}

                                    <div class="col item-index">
                                            <img src='{{items.filename}}' class="img-squares-services">
                                            <i class="mdi-48px {{items.url}} index-icon-services d-flex justify-content-center"></i>

                                            <p class=" d-flex justify-content-center font-weight-bold text-center py-4">{{items.title}}</p>
                                    </div>
                                {% endfor %}
                            </div>    
                        </div>
                        <!--/Body icons-->
                {% endif %}


<!--/Services-->

<!--Mobile-->

                {% if colMobile is defined %}
                    {% set Title = null %}
                    {% set url_first_image = null %}
                    {% set  url_second_image = null %}
                   
                    {% for header in colMobile.header %}
                        {% if header.referenceKey == 'files-mobile' %}
                            {% set Title = header.title %}
                            
                            {% set url_first_image = header.filename %}
                            
                            {% set url_second_image = header.url %}
                        
                        {% endif %}

                    {% endfor %}
                   
                {% endif %}


                {% if colMobile is defined %}
                     <!--Header-->
                        <div class="row py-3">
                            <div class="col-12 d-flex justify-content-center mt-3 mb-4"><span style="background-image: url('{{url_first_image}}');"  class="index-img-mobile"></div>
                            <div class="col-12 d-flex justify-content-center py-4"><span class="index-mobile">{% trans %}Mobile{% endtrans %}</span></div>
                            <style type="text/css">.index-img-mobile:hover{ background-image: url("{{apiUrl}}{{url_second_image}}") !important; }</style>
                        </div>
                        <!--/header-->
                           <!--Body icons-->
                        <div class="row">
                            <div class="container row py-4 mx-0"> 
                                {% for  items in colMobile.body %}

                                    <div class="col item-index">
                                            <img src='{{items.filename}}' class="img-squares-mobile">
                                            <i class="mdi-48px {{items.url}} index-icon-mobile d-flex justify-content-center"></i>

                                            <p class=" d-flex justify-content-center font-weight-bold text-center py-4">{{items.title}}</p>
                                    </div>
                                {% endfor %}
                            </div>    
                        </div>
                        <!--/Body icons-->
                {% endif %}

<!--/Mobile-->

<!--Health-->

                {% if colHealth.header is defined %}
                    {% set Title = null %}
                    {% set url_first_image = null %}
                    {% set  url_second_image = null %}
                   
                    {% for header in colHealth.header %}
                        {% if header.referenceKey == 'files-health' %}
                            {% set Title = header.title %}
                            
                            {% set url_first_image = header.filename %}
                            
                            {% set url_second_image = header.url %}
                        
                        {% endif %}

                    {% endfor %}
                   
                {% endif %}

          
                {% if colHealth is defined %}
                     <!--Header-->
                        <div class="row py-3">
                            <div class="col-12 d-flex justify-content-center mt-3 mb-4"><span style="background-image: url('{{url_first_image}}');"  class="index-img-health"></div>
                            <div class="col-12 d-flex justify-content-center py-4"><span class="index-health">{% trans %}Health{% endtrans %}</span></div>
                            <style type="text/css">.index-img-health:hover{ background-image: url("{{apiUrl}}{{url_second_image}}") !important; }</style>
                        </div>
                        <!--/header-->
                           <!--Body icons-->
                        <div class="row">
                            <div class="container row py-4 mx-0"> 
                                {% for  items in colHealth.body %}

                                    <div class="col item-index">
                                            <img src='{{items.filename}}' class="img-squares-health">
                                            <i class="mdi-48px {{items.url}} index-icon-health d-flex justify-content-center"></i>

                                            <p class=" d-flex justify-content-center font-weight-bold text-center py-4">{{items.title}}</p>
                                    </div>
                                {% endfor %}
                            </div>    
                        </div>
                        <!--/Body icons-->
                {% endif %}

<!--/Health-->

<!--Serviços-->

        <div class="row">
            <div class="col-12 d-flex justify-content-center"><span class="title_services">{% trans %}Services{% endtrans %}</span></div>
            <div class="col-12 d-flex justify-content-center"><span style="display: inline-block; height: 750px;"></span></div>
        </div>


<!--/Serviços-->

  

<!--Testemunhos-->



    <div class="container-fluid">
        <div class="row d-flex justify-content-center py-5"><span class="title_services">{% trans %}Witnesses{% endtrans %}</span></div>
        <div class="row py-5 m-0">
        {% set leftCard = colWitnesses.leftCard %}      
             <div class="card-secondary card-left">
                <div>
                    <div class="card-group-img"  data-src='{{leftCard.url}}'>
                        <img class='card-img' src='{{leftCard.filename}}'>
                      
                    </div>
                </div>

                <div class='card-under-image'>
                    {{leftCard.text|raw}}
                    <p class="card-text">{{leftCard.description}}</p>
                </div>
            </div>


            {% set mainCard = colWitnesses.mainCard %}

            <div class="card-main">
                <div>
                    <div class="video-group d-none">
                    <i class="mdi mdi-close-thick icon-to-close-video"></i>
                    <iframe class="card-video" src="" allowscriptaccess="always" allowfullscreen='true' allow="autoplay"></iframe>
                    </div>
                    <div class="card-group-img"  data-src='{{mainCard.url}}'>
                        <img class='card-img' src='{{mainCard.filename}}'>
                        <img class="play-symbol"  src="/assets/images/play-symbol.svg">
                    </div>
                </div>
                <div>
                    <i class="mdi mdi-48px mdi-menu-left-outline seta-esquerda"></i>
                    <i class="mdi mdi-48px mdi-menu-right-outline seta-direita"></i>
                </div>
                <div class='card-under-image'>
                    {{mainCard.text|raw}}
                    <p class="card-text">{{mainCard.description}}</p>
                </div>
            </div>


            {% set rightCard = colWitnesses.rightCard %}
             <div class="card-secondary card-right">
                <div>
                    <div class="card-group-img"  data-src='{{rightCard.url}}'>
                        <img class='card-img' src='{{rightCard.filename}}'>
                      
                    </div>
                </div>

                <div class='card-under-image'>
                    {{rightCard.text|raw}}
                    <p class="card-text">{{rightCard.description}}</p>
                </div>
            </div>
           


        </div>
    </div>

<!--/Testemunhos-->

            </div>

</div>


     
     
        <!--div class=""><img src="/assets/images/background-squares.svg"></div>
        <div class="background-squares-right"></div-->

<!--Serviços-->
<!--/Serviços-->
   {# <section class="mt-5 mb60">

        <div class="container text-center mb-5">
            {% set colContentHomeInstitucional = LayoutFunctions.getContentGroup('content?area=content-area-home-institucional&fields=area,url', 'area') %}
            {% if colContentHomeInstitucional is iterable and colContentHomeInstitucional|length > 0 %}
                {% if colContentHomeInstitucional['content-area-home-institucional'] is defined %}
                    {% for page in colContentHomeInstitucional['content-area-home-institucional'] %}
                        {% set url = page.referenceKey %}
                        {% if page.url != '' %}
                            {% set url = page.url %}
                        {% endif %}

                        <a href="{{ baseUri }}/{{ url }}" title="{{ page.title }}">
                            <div class="col-5 d-inline-block" style="height: 200px; background-image: url('{{ page.filename }}'); background-size: cover; background-repeat: no-repeat">
                                {{ page.title }}
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}

            {% endif %}
        </div>

        <div class="container">
            <div class="row">
                {% if colProductHighlighted['physical-products'] is defined and colProductHighlighted['physical-products']|length > 0 %}
                    <div class="col-12 positive-z-index">
                        <div class="products-slider-top">
                            <h1>{% trans %}Highlighted{% endtrans %}</h1>
                        </div>
                        <div class="products-slider">
                            {% for product in colProductHighlighted['physical-products'] %}
                                <div>
                                    {{ include('_render_block/product-card-rounded.html.twig', {
                                        'baseUri': baseUri,
                                        'product': product,
                                    }) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% if colProductCategoryHighlighted is defined and colProductCategoryHighlighted|length > 0 %}
                    {% for productCategoryHighlighted in colProductCategoryHighlighted %}
                        <div>
                            <a href="{{ baseUri }}/product?category={{ productCategoryHighlighted.referenceKey }}">
                                <div class="m-2" data-name="{{ productCategoryHighlighted.name|url_encode }}" style="width: 200px; height: 200px; background-image: url('{{ productCategoryHighlighted.image }}'); background-size: cover; background-repeat: no-repeat; ">
                                    <div class="title_activity_s">
                                    <span>
                                        {{ productCategoryHighlighted.name }}
                                    </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function(){
        $('.card-group-img').on('click', function(){

            if($(this).parent().parent().hasClass('card-main')){

                $videoSrc=$(this).data('src');   
                $(this).addClass('d-none');
                $(this).parent().find('.video-group').removeClass('d-none');
                $(this).parent().find('.card-video').attr('src', $videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0");
                


             }
        });
       $('.icon-to-close-video').on('click', function(){
        $(this).parent().find('.card-video').attr('src', $videoSrc);
        $(this).parent().addClass('d-none');
        $(this).parent().parent().find('.card-group-img').removeClass('d-none');
       });

       $('.card-right').on('click', function(){

            let srcVideo = $(this).find('.card-group-img').data('src');
            let srcVideoMain = $('.card-main').find('.card-group-img').data('src');
            let srcimg = $(this).find('.card-img').attr('src');
            let title = $(this).find('.card-title').html();
            let text = $(this).find('.card-text').html();
            
            //stop video, hide video, show image
            $('.card-main').find('.card-video').attr('src',"");
            $('.card-main').find('.video-group').addClass('d-none');
            $('.card-main').find('.card-group-img').removeClass('d-none');
            //Replace data

            //replace srcVideo
            //data main go to secondary
         
            $(this).find('.card-group-img').data('src', $('.card-main').find('.card-group-img').data('src'));
            //data secondary go to main
            $('.card-main').find('.card-group-img').data('src',srcVideo);
           
             //replace srcimg
            //data main go to secondary
            $(this).find('.card-img').attr('src', $('.card-main').find('.card-img').attr('src'));
            //data secondary go to main
            $('.card-main').find('.card-img').attr('src', srcimg);

            //replace title
            //data main go to secondary
            $(this).find('.card-title').html($('.card-main').find('.card-title').html());
            //data secondary go to main
            $('.card-main').find('.card-title').html(title);

            //replace text
            //data main go to secondary
            $(this).find('.card-text').html($('.card-main').find('.card-text').html());
            //data secondary go to main
            $('.card-main').find('.card-text').html(text);

        });


        $('.card-left').on('click', function(){
            let srcVideo = $(this).find('.card-group-img').data('src');
            let srcVideoMain = $('.card-main').find('.card-group-img').data('src');
            let srcimg = $(this).find('.card-img').attr('src');
            let title = $(this).find('.card-title').html();
            let text = $(this).find('.card-text').html();
            
            //stop video, hide video, show image
            $('.card-main').find('.card-video').attr('src',"");
            $('.card-main').find('.video-group').addClass('d-none');
            $('.card-main').find('.card-group-img').removeClass('d-none');
            //Replace data

            //replace srcVideo
            //data main go to secondary
         
            $(this).find('.card-group-img').data('src', $('.card-main').find('.card-group-img').data('src'));
            //data secondary go to main
            $('.card-main').find('.card-group-img').data('src',srcVideo);
           
             //replace srcimg
            //data main go to secondary
            $(this).find('.card-img').attr('src', $('.card-main').find('.card-img').attr('src'));
            //data secondary go to main
            $('.card-main').find('.card-img').attr('src', srcimg);

            //replace title
            //data main go to secondary
            $(this).find('.card-title').html($('.card-main').find('.card-title').html());
            //data secondary go to main
            $('.card-main').find('.card-title').html(title);

            //replace text
            //data main go to secondary
            $(this).find('.card-text').html($('.card-main').find('.card-text').html());
            //data secondary go to main
            $('.card-main').find('.card-text').html(text);

        });

        //variável verifica o carousel/ apenas em mobile ou width a menos 999px
        let i = 0;
        $('.seta-esquerda').on('click', function(){
            if(i==-1){
                return;
            }
            if(i==1){
                i--;
                $('.card-right').trigger('click');
                return;
            }
            $('.card-left').trigger('click');
            i--;
        });

        $('.seta-direita').on('click', function(){
            if(i==1){
                return;
            }
            if(i==-1){
                i++;
                $('.card-left').trigger('click');
                return;
            }
            $('.card-right').trigger('click');
            i++;
        });
        /*$('.card-video').on('pause', function(){
            let video = $(this);
            window.setTimeout(function(){
                let video2 = $('.card-main').find('.card-video');
                if(video2.paused){
                    console.log("está pousado");
                }
                else{
                    console.log("deu play");
                }
            },2000);
        })*/
     
  
    });
    </script>
{% endblock %}