{% extends 'base.html.twig' %}

{% block body %}
    {#% include 'slider.html.twig' %#}


    {#% include '_includes/modal_product_color_size.html.twig' %#}

  <div class="background-image-header">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="header-text-index">
                <h1 class='header-tittle-index'>{% trans %}Management Systems{% endtrans %}</h1>
                <h2 class="header-subtittle-index">{% trans %}We add value to your business{% endtrans %}</h2>
            </div>
        </div>
    </div>
</div>
     

        


              

<div class="background-index-image" style="padding-top: 15vh;">
      
{% set business_header = LayoutFunctions.getAPI('content?type=files&area=content-area-business-header&fields=text,url&language=' ~ app.request.locale) %}
    {% if business_header is defined %}

        {% set Title = null %}
        {% set Description = null %}
        {% set url_first_image = null %}
        {% set  url_second_image = null %}
        
        {% for files_area in business_header.colContent %}
            {% if files_area.referenceKey == 'files-business' %}
                {% set Title = files_area.title %}
            
                {% set Description = files_area.description %}
                    <!--pre>{{dump(files_area)}}</pre-->
                {% set url_first_image = files_area.filename %}
                
                {% set url_second_image = files_area.url %}
            
            {% endif %}

        {% endfor %}
       
    {% endif %}

     {% set restoration_area = LayoutFunctions.getAPI('content?type=files&area=content-area-business-index&fields=text,url&language=' ~ app.request.locale) %}

    
       

               

                    <div class="container py-5">
                        <!--Negocios-->
                        <div class="row pb-4">
                            <div class="col-12 d-flex justify-content-center py-3"><span class="tittle-body-index">{{Title}}</span></div>
                            <div class="col-12 d-flex justify-content-center"><span class="subtittle-body-index">{{Description}}</span></div>
                        </div>

                         <!--Restauração-->
            {% if restoration_area is defined %}
                        <!--Header-->
                        <div class="row py-3">
                            <div class="col-12 d-flex justify-content-center mt-3 mb-4"><span style="background-image: url('{{url_first_image}}');"  class="index-img-restauration"></div>
                            <div class="col-12 d-flex justify-content-center py-4"><span class="index-restoration">{% trans %}Restoration{% endtrans %}</span></div>
                            <style type="text/css">.index-img-restauration:hover{ background-image: url("{{apiUrl}}{{url_second_image}}") !important; }</style>
                        </div>
                        <!--/header-->

                        <!--Body icons-->
                        <div class="row">
                            <div class="container row py-4 mx-0"> 
                                {% for  items in restoration_area.colContent %}

                                    <div class="col item-index">
                                            <img src='{{items.filename}}' class="img-squares">
                                            <i class="mdi-48px {{items.url}} index-icon-restoration d-flex justify-content-center"></i>

                                            <p class=" d-flex justify-content-center font-weight-bold text-center py-4">{{items.title}}</p>
                                    </div>
                                {% endfor %}
                            </div>    
                        </div>
                        <!--/Body icons-->
            {% endif %}




            {% set retail_header = LayoutFunctions.getAPI('content?type=files&area=content-area-retail-header&fields=text,url&language=' ~ app.request.locale) %}
                {% if retail_header is defined %}
                    {% set Title = null %}
                    {% set url_first_image = null %}
                    {% set  url_second_image = null %}
                   
                    {% for files_area in retail_header.colContent %}
                        {% if files_area.referenceKey == 'files-retail' %}
                            {% set Title = files_area.title %}
                            
                            {% set url_first_image = files_area.filename %}
                            
                            {% set url_second_image = files_area.url %}
                        
                        {% endif %}

                    {% endfor %}
                   
                {% endif %}

                {% set retail_area = LayoutFunctions.getAPI('content?type=files&area=content-area-retail-index&fields=text,url&language=' ~ app.request.locale) %}
                {% if retail_area is defined %}
                     <!--Header-->
                        <div class="row py-3">
                            <div class="col-12 d-flex justify-content-center mt-3 mb-4"><span style="background-image: url('{{url_first_image}}');"  class="index-img-retail"></div>
                            <div class="col-12 d-flex justify-content-center py-4"><span class="index-retail">{% trans %}Retail{% endtrans %}</span></div>
                            <style type="text/css">.index-img-retail:hover{ background-image: url("{{apiUrl}}{{url_second_image}}") !important; }</style>
                        </div>
                        <!--/header-->
                           <!--Body icons-->
                        <div class="row">
                            <div class="container row py-4 mx-0"> 
                                {% for  items in retail_area.colContent %}

                                    <div class="col item-index">
                                            <img src='{{items.filename}}' class="img-squares-retail">
                                            <i class="mdi-48px {{items.url}} index-icon-retail d-flex justify-content-center"></i>

                                            <p class=" d-flex justify-content-center font-weight-bold text-center py-4">{{items.title}}</p>
                                    </div>
                                {% endfor %}
                            </div>    
                        </div>
                        <!--/Body icons-->
                {% endif %}



            {% set services_header = LayoutFunctions.getAPI('content?type=files&area=content-area-services-header&fields=text,url&language=' ~ app.request.locale) %}
                {% if services_header is defined %}
                    {% set Title = null %}
                    {% set url_first_image = null %}
                    {% set  url_second_image = null %}
                   
                    {% for files_area in services_header.colContent %}
                        {% if files_area.referenceKey == 'files-services' %}
                            {% set Title = files_area.title %}
                            
                            {% set url_first_image = files_area.filename %}
                            
                            {% set url_second_image = files_area.url %}
                        
                        {% endif %}

                    {% endfor %}
                   
                {% endif %}

                {% set services_area = LayoutFunctions.getAPI('content?type=files&area=content-area-services-index&fields=text,url&language=' ~ app.request.locale) %}
                {% if services_area is defined %}
                     <!--Header-->
                        <div class="row py-3">
                            <div class="col-12 d-flex justify-content-center mt-3 mb-4"><span style="background-image: url('{{url_first_image}}');"  class="index-img-services"></div>
                            <div class="col-12 d-flex justify-content-center py-4"><span class="index-services">{% trans %}Services{% endtrans %}</span></div>
                            <style type="text/css">.index-img-services:hover{ background-image: url("{{apiUrl}}{{url_second_image}}") !important; }</style>
                        </div>
                        <!--/header-->
                           <!--Body icons-->
                        <div class="row">
                            <div class="container row py-4 mx-0"> 
                                {% for  items in services_area.colContent %}

                                    <div class="col item-index">
                                            <img src='{{items.filename}}' class="img-squares-services">
                                            <i class="mdi-48px {{items.url}} index-icon-services d-flex justify-content-center"></i>

                                            <p class=" d-flex justify-content-center font-weight-bold text-center py-4">{{items.title}}</p>
                                    </div>
                                {% endfor %}
                            </div>    
                        </div>
                        <!--/Body icons-->
                {% endif %}





            {% set mobile_header = LayoutFunctions.getAPI('content?type=files&area=content-area-mobile-header&fields=text,url&language=' ~ app.request.locale) %}
                {% if mobile_header is defined %}
                    {% set Title = null %}
                    {% set url_first_image = null %}
                    {% set  url_second_image = null %}
                   
                    {% for files_area in mobile_header.colContent %}
                        {% if files_area.referenceKey == 'files-mobile' %}
                            {% set Title = files_area.title %}
                            
                            {% set url_first_image = files_area.filename %}
                            
                            {% set url_second_image = files_area.url %}
                        
                        {% endif %}

                    {% endfor %}
                   
                {% endif %}

                {% set mobile_area = LayoutFunctions.getAPI('content?type=files&area=content-area-mobile-index&fields=text,url&language=' ~ app.request.locale) %}
                {% if mobile_area is defined %}
                     <!--Header-->
                        <div class="row py-3">
                            <div class="col-12 d-flex justify-content-center mt-3 mb-4"><span style="background-image: url('{{url_first_image}}');"  class="index-img-mobile"></div>
                            <div class="col-12 d-flex justify-content-center py-4"><span class="index-mobile">{% trans %}Services{% endtrans %}</span></div>
                            <style type="text/css">.index-img-mobile:hover{ background-image: url("{{apiUrl}}{{url_second_image}}") !important; }</style>
                        </div>
                        <!--/header-->
                           <!--Body icons-->
                        <div class="row">
                            <div class="container row py-4 mx-0"> 
                                {% for  items in mobile_area.colContent %}

                                    <div class="col item-index">
                                            <img src='{{items.filename}}' class="img-squares-mobile">
                                            <i class="mdi-48px {{items.url}} index-icon-mobile d-flex justify-content-center"></i>

                                            <p class=" d-flex justify-content-center font-weight-bold text-center py-4">{{items.title}}</p>
                                    </div>
                                {% endfor %}
                            </div>    
                        </div>
                        <!--/Body icons-->
                {% endif %}




            {% set health_header = LayoutFunctions.getAPI('content?type=files&area=content-area-health-header&fields=text,url&language=' ~ app.request.locale) %}
                {% if health_header is defined %}
                    {% set Title = null %}
                    {% set url_first_image = null %}
                    {% set  url_second_image = null %}
                   
                    {% for files_area in health_header.colContent %}
                        {% if files_area.referenceKey == 'files-health' %}
                            {% set Title = files_area.title %}
                            
                            {% set url_first_image = files_area.filename %}
                            
                            {% set url_second_image = files_area.url %}
                        
                        {% endif %}

                    {% endfor %}
                   
                {% endif %}

                {% set health_area = LayoutFunctions.getAPI('content?type=files&area=content-area-health-index&fields=text,url&language=' ~ app.request.locale) %}
                {% if health_area is defined %}
                     <!--Header-->
                        <div class="row py-3">
                            <div class="col-12 d-flex justify-content-center mt-3 mb-4"><span style="background-image: url('{{url_first_image}}');"  class="index-img-health"></div>
                            <div class="col-12 d-flex justify-content-center py-4"><span class="index-health">{% trans %}Health{% endtrans %}</span></div>
                            <style type="text/css">.index-img-health:hover{ background-image: url("{{apiUrl}}{{url_second_image}}") !important; }</style>
                        </div>
                        <!--/header-->
                           <!--Body icons-->
                        <div class="row">
                            <div class="container row py-4 mx-0"> 
                                {% for  items in health_area.colContent %}

                                    <div class="col item-index">
                                            <img src='{{items.filename}}' class="img-squares-health">
                                            <i class="mdi-48px {{items.url}} index-icon-health d-flex justify-content-center"></i>

                                            <p class=" d-flex justify-content-center font-weight-bold text-center py-4">{{items.title}}</p>
                                    </div>
                                {% endfor %}
                            </div>    
                        </div>
                        <!--/Body icons-->
                {% endif %}





            </div>

</div>

     
     
        <!--div class=""><img src="/assets/images/background-squares.svg"></div>
        <div class="background-squares-right"></div-->

<!--Serviços-->
<!--/Serviços-->
   {# <section class="mt-5 mb60">

        <div class="container text-center mb-5">
            {% set colContentHomeInstitucional = LayoutFunctions.getContentGroup('content?area=content-area-home-institucional&fields=area,url', 'area') %}
            {% if colContentHomeInstitucional is iterable and colContentHomeInstitucional|length > 0 %}
                {% if colContentHomeInstitucional['content-area-home-institucional'] is defined %}
                    {% for page in colContentHomeInstitucional['content-area-home-institucional'] %}
                        {% set url = page.referenceKey %}
                        {% if page.url != '' %}
                            {% set url = page.url %}
                        {% endif %}

                        <a href="{{ baseUri }}/{{ url }}" title="{{ page.title }}">
                            <div class="col-5 d-inline-block" style="height: 200px; background-image: url('{{ page.filename }}'); background-size: cover; background-repeat: no-repeat">
                                {{ page.title }}
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}

            {% endif %}
        </div>

        <div class="container">
            <div class="row">
                {% if colProductHighlighted['physical-products'] is defined and colProductHighlighted['physical-products']|length > 0 %}
                    <div class="col-12 positive-z-index">
                        <div class="products-slider-top">
                            <h1>{% trans %}Highlighted{% endtrans %}</h1>
                        </div>
                        <div class="products-slider">
                            {% for product in colProductHighlighted['physical-products'] %}
                                <div>
                                    {{ include('_render_block/product-card-rounded.html.twig', {
                                        'baseUri': baseUri,
                                        'product': product,
                                    }) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% if colProductCategoryHighlighted is defined and colProductCategoryHighlighted|length > 0 %}
                    {% for productCategoryHighlighted in colProductCategoryHighlighted %}
                        <div>
                            <a href="{{ baseUri }}/product?category={{ productCategoryHighlighted.referenceKey }}">
                                <div class="m-2" data-name="{{ productCategoryHighlighted.name|url_encode }}" style="width: 200px; height: 200px; background-image: url('{{ productCategoryHighlighted.image }}'); background-size: cover; background-repeat: no-repeat; ">
                                    <div class="title_activity_s">
                                    <span>
                                        {{ productCategoryHighlighted.name }}
                                    </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
 
{% endblock %}