<style>
.navbar.fixed-top{z-index:1040}
.line-through-danger{text-decoration: line-through;
-webkit-text-decoration-color:#dc3545;
text-decoration-color:#dc3545;opacity:0.8;
text-decoration-thickness:0.13rem}
.item-line{height:32px;vertical-align:sub}
</style>

{% set list = orderInvoices ?? [] %}

<div class="modal fade" id="modal_order_info" aria-modal="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title modal-title-add">
                    {% trans %}Order{% endtrans %} #{{ '%04d'|format(list.id) }}
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-2">
                <div class="container">
                    <div class="row border-top border-bottom pt-2 pb-2 bg-eeeeee">
                        <div class="col-lg-6">
                            <b>{% trans %}
                                Date{% endtrans %}:
                            </b>
                            {{ list.date|date("d/m/Y H:i") }}
                        </div>
                        <div class="text-right col-lg-6">
                            <b>{% trans %}Status{% endtrans %}:
                            </b>
                            <span class="status-name">{{list.status.name}}</span>
                        </div>
                    </div>

                    {% for k in list.order_invoice%}
                        {% if k.total > 0 %}
                            <div class="row mt-1 pt-1">
                                <div class="col-12 mb-2">
                                    {% if k.invoice_url %}
                                        <label>{% trans %}Invoice Customer{% endtrans %}
                                            #{{ '%04d'|format(list.id) }}/{{k.id}}
                                        </label>
                                        <a href="{{k.invoice_url}}" target="_self" class="btn btn-default float-right" title="{% trans %}See Pdf Invoice/Receipt {% endtrans %} #{{k.invoice_number}}">
                                            <i class="far fa-file-pdf text-danger"></i>
                                            {% trans %}Pdf Invoice/Receipt {% endtrans %}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        <div class="row border-bottom mb-1 pb-2">
                            <div class="col-lg-8">
                                <b>{% trans %}Name{% endtrans %}:</b>
                                {{ k.customer_invoice.name }}
                            </div>
                            <div class="col-lg-4 text-right">
                                <b>{% trans %}Fiscal Number{% endtrans %}:</b>
                                {{ k.customer_invoice.tax_number ?? list.customer.tax_number ?? '-/-' }}
                            </div>
                            <div class="col-lg-12">
                                <b>{% trans %}Address{% endtrans %}:</b>
                                {{ k.customer_invoice.address ?? '-/-' }},
                                {{ k.customer_invoice.city ?? '-/-' }},
                                {{ k.customer_invoice.postal_code ?? '-/-' }},
                                {{ k.customer_invoice.state ?? '-/-' }}
                            </div>
                        </div>

                        <div class="row  mb-1 mt-1 pt-1 pb-1">
                            <div class="col-12 ">
                                <table class="w-100 p-2">
                                    <thead>
                                        <tr class="p-1">
                                            <th>ID</th>
                                            <th class="text-center">{% trans %}Qty.{% endtrans %}</th>
                                            <th>{% trans %}Name{% endtrans %}</th>
                                            <th class="text-center">{% trans %}Vat Tax{% endtrans %}</th>
                                            <th class="text-right">{% trans %}Total{% endtrans %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    {% for key in k.products %}
                                        <tr class="p-1 {{key.order_product_status ? null : 'line-through-danger'}}">
                                            <td>#{{ key.id }}</td>
                                            <td class="text-center">{{ key.quantity}}</td>
                                            <td>{{ key.name}}</td>
                                            <td class="text-center">{{key.tax_percentage}}%</td>
                                            <td class="text-right">{{key.total}}</td>
                                        </tr>

                                        {% set item = key.item ?? [] %}
                                        {% if item|length %}
                                            {% if item.color is defined or item.size is defined %}
                                                <tr class="item-line {{ key.order_product_status ? null : 'line-through-danger'}}">
                                                    <td colspan="2"></td>
                                                    <td colspan="3" class='pl-4'>
                                                        {% if item.color %}
                                                            <b>{% trans %}Color{% endtrans %}: </b> {{ item.color ?? null }}
                                                        {% endif %}

                                                        {% if item.size %}
                                                            <b>{% trans %}Size {% endtrans %}: </b> {{ item.size ?? null }}
                                                        {% endif %}
                                                    </td>
                                                    <td colspan="1"></td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}

                                    </tbody>
                                    <tfoot>
                                        <tr class="p-1">
                                            <th colspan='4'>Sub Total</th>
                                            <th class="text-right">{{k.total}}</th>
                                        </tr>

                                        {% for key in list.discount ?? [] %}
                                            <tr class="p-1">
                                                <th>{% trans %}Discount{% endtrans %}</th>
                                                <td colspan="3">{{key.name ?? null}}</td>
                                                <th class="text-right discount text-danger">-{{key.price ?? 0}}</th>
                                            </tr>
                                        {% endfor %}
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <div class="row pt-1 pb-1 border-top border-bottom">
                            <div class="col-lg-12">
                                <b>{% trans %}Payment Method{% endtrans %}:</b>
                                {{k.payment_method ?? '-/-' }}<br>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="row border-bottom pt-2 pb-2 bg-eeeeee">
                        <div class="col-lg-12">
                            <b>{% trans %}Delivery Method{% endtrans %}:</b>
                            {{list.delivery_method ?? '-/-' }}<br>
                            <h4>
                                <b>{% trans %}Order Total{% endtrans %}:</b>
                                <b class="d-block float-right">{{list.total ?? '-/-' }}</b>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
</div>